mixin playerMark(cell)
  span=(cell === 0 ? '' : (cell === 1 ? 'o' : 'x'))

mixin playerName(cell)
  span=(cell === 0 ? '' : (cell === 1 ? 'A' : 'B'))

mixin drawResultGrid(resultSet, interactive)
  table.result-grid(
    class=(interactive ? 'grid-interactive' : 'grid-final')
  )
    - var grid = resultSet.lastGrid
    - var colLen = grid[0].length
    tr
      td.lead-cell
      each col, colIdx in grid[0]
        td.lead-cell=colIdx
    each row, rowIdx in grid
      tr
        td.lead-cell=rowIdx
        each cell, cellIdx in row
          td.play-field(
            class=`play-field-${cell}`
            data-x=`${cellIdx}`
            data-y=`${rowIdx}`
          )
            +playerMark(cell)
    tr
      td(colspan=`${colLen + 1}`)
        +drawResultLegend(resultSet)

mixin drawResultLegend(resultSet)
  table.result-legend
    tr
      td A
      td B
      td Result
    tr
      td
        +playerMark(resultSet.playerMarks[0])
      td
        +playerMark(resultSet.playerMarks[1])
      td
        if resultSet.tie
          span Tie
        else
          b
            +playerName(resultSet.playerMarks[resultSet.winner])
          span  wins